.LandingScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* background-color: #f5f5f5; */
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-family: 'Helvetica';
    font-size: 90px;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
      -1px -1px 0 #000,
      1px 1px 0 #000,  
      -5px 5px 0 #000,
      1px -1px 0 #000,
      -1px -1px 0 #000;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
  }

  .main-title-small {
    font-family: 'Helvetica';
    font-size: 25px;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
      -1px -1px 0 #000,
      1px 1px 0 #000,  
      -3px 3px 0 #000,
      1px -1px 0 #000,
      -1px -1px 0 #000;
    display: flex;
    flex-wrap: wrap;
  }


  .title-word {
    display: flex;
    flex-wrap: wrap;
  }
  
  .title-letter {
    transition: transform 0.1s;
    cursor: pointer;
  }

  .shift-right .main-title {
    max-width: 50vw;
    padding-left: 30px;
  }
  
  .title-letter:hover {
    transform: translateY(-15%);
  }

  .specific-title-letter {
    transition: transform 0.1s;
    cursor: pointer;
  }

  .specific-title-letter:hover {
    transform: translate(163.905px, 130px);
    
  }

  .pathDash {
    stroke-dasharray: 500;
  }

  .path {
    
    stroke-linejoin:"round";
    stroke-linecap:"round";
    animation: dash 35s linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 5000;
    }
  }


  .contentBox {
    background-color: #8451AB;
    padding: 20px;
    border-radius: 16px;
    font-weight: 600;
    color: rgb(13, 13, 75);
    margin-left: 10px;
    margin-right: 10px;
  }

  .selectedIcon {
    border: 1px solid rgba(0, 0, 0, 0.24) !important;
  }